* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  background-color: #422a65;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%232c1158' fill-opacity='0.42' fill-rule='evenodd'/%3E%3C/svg%3E");
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
  color: white;
  font-weight: 700;
}

li {
  word-break: keep-all;
  font-size: 2.5rem;
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  color: coral;
}

a:hover {
  color: #71677c;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 70px;
}

article {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

form {
  max-width: 800px;
  min-width: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

input,
textarea {
  opacity: 1 !important;
  font-size: 2rem !important;
  width: 100% !important;
  font-weight: 600 !important;
}

footer {
  background-color: rgba(55, 18, 60, 0.7);
  padding: 20px 40px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

#contact,
#about {
  padding: 0px 10px;
}

.submitButton:hover {
  background-color: pink;
}

.contact-links {
  text-decoration: underline;
  font-size: 2rem !important;
}

.solo-link {
  font-size: 2rem !important;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.MuiCardContent-root {
  flex-grow: 2;
  padding-bottom: 0px !important;
}

.MuiCardActions-root,
.MuiCardActions-spacing {
  padding-top: 0px !important;
}

.MuiFilledInput-multiline {
}

.MuiInputBase-input,
.MuiFilledInput-input,
.MuiFilledInput-multiline {
  padding: 10px !important;
}

.MuiInputBase-root,
.MuiFilledInput-root,
.MuiFilledInput-underline,
.MuiInputBase-formControl,
.MuiInputBase-multiline,
.MuiFilledInput-multiline {
  padding: 0px !important;
}
